/* You can add global styles to this file, and also import other style files */

@import './partials/variables';
@import './partials/extends';

* {
  font-family: sans-serif;
}

.input-container {
  padding: 0 15px;
  margin: 0 0 15px 0;
}

#app-save {
  margin: 0 0 0 15px;
}

.app-wrapper {
  padding: 0 0 85px 0;
}

.list-container {
  padding: 0 15px;
}

.filter-container {
  padding: 0 15px;
}

#list-items {  

  li.not-done {
    position: relative;
    padding: 10px 10px 10px 25px; 
    border: 1px solid $grey-border;
    margin: 0 0 10px 0;
    background-color: $grey-fade-background;

    .check-item {
      @extend %display-middle;
      position: absolute;
      top: 10px;
      left: 5px;

      &:before {
        content: "\f14a";
        color: $grey-border;
        font-size: 18px;
        line-height: 18px;
        font-family: 'FontAwesome';
      }
    }
  }

  li.completed {
    position: relative;
    padding: 10px 10px 10px 25px;
    border: 1px solid $grey-border;
    margin: 0 0 10px 0;

    .check-item {
      @extend %display-middle; 
      position: absolute;
      top: 10px;
      left: 5px;

      &:before {
        content: "\f14a";
        color: green;
        font-size: 18px;
        line-height: 18px;
        font-family: 'FontAwesome';
      }
    }
    .item-content {
      text-decoration: line-through;
    }

    .extended-item {
      opacity: 0.5 !important;
    }
  }
}

.sublist-items {  

  li {
    margin-left: 20px !important;
    background-color: $white-color !important;
    padding: 5px 25px 5px !important;
    margin-bottom: 7px !important;
  } 

  li:before {
    border-left: 1px dotted $dark-grey;
    bottom: 0;
    content: "";
    height: 100%;
    left: -37px;
    min-height: 42px;
    position: absolute;
    top: -8px;
    width: 1px;
    transition: 1s; 
  }

  li:first-child:before { 
    top: -22px;
    min-height: 71px;
  }

  li:last-child:before {
    /*top: -22px;*/
/*    top: -50%;
    min-height: 0;*/
  }


  li:after{
    border-bottom: 1px dotted $dark-grey;
    content: "";
    display: block;
    height: 1px;
    left: -35px;
    margin: -1px 0 0;
    position: absolute;
    top: 50%;
    width: 35px;
    transition: 1s;
  }

  li.not-done {
    position: relative;
    padding: 10px 10px 10px 45px;
    border: 1px solid $grey-border;
    margin: 0 0 10px 0;

   .check-subitem {
      @extend %display-middle;
      position: absolute;
      top: 10px;
      left: 5px;

      &:before {
        content: "\f14a";
        color: $grey-border;
        font-size: 18px;
        line-height: 18px;
        font-family: 'FontAwesome';
      }
    }
  }

  li.completed {
    position: relative;
    padding: 10px 10px 10px 25px;
    border: 1px solid #a6a6a6;
    margin: 0 0 10px 0;
    background-color: #fff;

    .check-subitem {
      @extend %display-middle;
      position: absolute;
      top: 10px;
      left: 5px;

      &:before {
        content: "\f14a";
        color: green;
        font-size: 18px;
        line-height: 18px;
        font-family: 'FontAwesome';
      }
    }
    .subitem-content { 
      opacity: 0.7;
      text-decoration: line-through;
    }
  }
}

.todo-sublist-item {
  padding-left: 10px !important;
  margin-left: -1px !important;
  border-left: 1px solid #f8f8f8 !important;
} 

.delete-zone {
  position: fixed;
  bottom: 0px;
  right: 18px;
  left: 14px;
  width: 98.5%;
  height: 75px;
  border: 1px dashed $icon-grey;
  background-color: #fff;
  text-align: center;

  .font-icon {
    font-size: 36px;
    line-height: 75px;
  }
}

.add-sublist { 
  float: right !important;
  color: $icon-grey;

    &:hover {
      color: $grey-border; 
      cursor: pointer;
    }

  &:after {
    content: "\f115";
    font-size: 18px;
    font-family: 'FontAwesome';
  }  

  &.closed {
    &:after {
      content: "\f114";
      font-size: 18px;
      font-family: 'FontAwesome';
    }
  }
    
}

.extended-item { 
  width: 100%;
  height: auto;
  background-color: $grey-fade-background;
  display: none;
  padding: 10px 15px 10px 25px;

  .add-subitems {
    position: relative;

    input[type="text"] {
      height: 28px;
    }

    button {
      position: absolute;
      top: -5px;
      right: 15px;
    }
  }
}

.date-container {
  position: absolute;
  right: 50px;
  font-size: 12px;
  color: $purple-color;

  .hour {

    &:after {
      content: ":";
      @extend %display-top;
      margin: 0 3px;
    }
  }

  .calendar, .calendar2 {
    margin: 2px 0px 2px 10px;
    color: $icon-grey;
    font-size: 18px; 
  }
}

.btn {
  height: 26px !important; 
  padding: 0 1rem !important;
  font-size: 12px !important;
  line-height: 26px !important;
  background-color: $dark-blue-color !important;

  &.orange {
    background-color: $orange-color !important;
  }
}

.list-text-area {
  display: none;
}

textarea {
  margin: 0 0 5px 0;
  resize: none;
}

.sublist-text-area {
  display: none;
}

input[type="text"]:focus {
  background-color: none;
}

.completed {
  .extended-item {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.3);
    }
  } 
}

/* Text color */

.colors-container {
  @extend %display-middle;
  margin: 2px 10px 0 10px;
}

.color-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 0px solid $grey-border;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: -5px 0 0 5px; 
  cursor: pointer;

  &.color-red {
    background: $red-color;
  }

  &.color-orange {
    background: $orange-color;
  }

  &.color-green {
    background: $green-color;
  }

  &.color-black {
    background: $dark-grey-color;
  }
}

input::-webkit-input-placeholder {
  color: $icon-grey;
}
input::-moz-placeholder {
  color: $icon-grey;
}
input:-ms-input-placeholder {
  color: $icon-grey;
}
input:-moz-placeholder {
  color: $icon-grey;
}