/* Variables */

/* Light colors */

$light-orange-color: #F6AE7C;
$light-blue-color: #A5BCDE;
$light-green-color: #A5DE9C;
$light-purple-color: #FF6BFD;
$light-red-color: #F6BCBD;


/* Colors */

$red-color: #EB6F71;
$orange-color: #F18132;
$dark-blue-color: #315BA4;
$light-blue-color: #A5BCDE;
$green-color: #5FC44F;
$white-color: #fff;
$dark-grey-color: #2A2A28;
$purple-color: #7C0079;

/* Grey Pallet */

$grey-border: #e5e5e5;
$grey-fade-background: #fafafa;
$icon-grey: #999;
$dark-grey: #9298A0; 